<div class="container">
  <h1 class="centertitle">Contact Me</h1>
  <div class="contact">
    <ul>
      <li class="contact-img"><img src=http://midsouthsigns.com/wp-content/uploads/2015/05/phone-icon-white.png>Phone</li>
      <li class="contact-info">801.836.1367</li>
      <li class="contact-img"><img src="http://cdn.gene.com/assets/frontend/img/icon-share-email.png">Email</li>
      <li class="contact-info">garrettstott@gmail.com</li>
      <li class="contact-img"><a href="google.com"><img src="http://owlzstudios.com/imgs/globe.png">Website</li>
      <li class="contact-info">av.io</li></a>
      <li class="contact-img"><a href="twitter.com"><img src="http://www.friesgenootschap.nl/images/algemeen/twitterlogo.png">Tw@tter</a></li>
      <li class="contact-info">@garrettstott</li>
      <li class="contact-img"><a href="linkdin.com"><img src="http://www.wealthaccelerationgroup.com/wp-content/uploads/2015/11/linkedin-wrap.png">Linkdin</a></li>
      <li class="contact-info">/garrettstott</li>
    </ul>
  </div>


</div>
