<div class="container">
  <h1 class="centertitle sinatraapp">Sinatra App, Darling.</h1>
  <a href="https://en.wikipedia.org/wiki/Frank_Sinatra" target="_blank"><img src="https://s-media-cache-ak0.pinimg.com/736x/34/27/8c/34278cc192b0a98aea275165f12be770.jpg" class="sinatra"></a>

  <div class="index">
    <ul>
      <li><a href='/contact'><img src="http://www.phidiax.com/Images/Common-Management-Business-contact-icon-white.png"></li>
        <li class="index-info">Contact</a></li>
      <li><a href='/resume'><img src="http://marshalkowski.com/img/icon_resume.gif"></li>
        <li class="index-info">Resume</a></li>
      <li><a href='/about'><img src="http://demo.athemes.com/flatolio/wp-content/themes/athemes_flatolio/images/icon_info.png"></li>
        <li class="index-info">About</a></li>
    </ul>
  </div>
</div>
