<html>
  <head>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <title>Garrett's Sinatra App</title>
  </head>

  <body>
    <div class="navbar">
      <h3 class="logo">Garrett Stott's Sinatra App</h3>
      <ul>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/resume'>Resume</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
