<div class="container">
  <h1 class="centertitle">My Resume</h1>

  <div class="resume">
    <h3 class="name">Garrett Stott</h3>

    <h3 class="address">1185 Mission Rd Salt Lake City, UT 84104 • (801) 836-1367 • garrettstott@gmail.com</h3>

    <h3>Experience:</h3>

     <h3>Warehouse Associate • Iron Mountain • Salt Lake City, UT 2.5 Years’ experience</h3>

      <p>• Over 2 years’ experience in warehouse environment</p>

      <p>• Demonstrated ability to move heavy objects by hand</p>

      <p>• Highly skilled in operating material handling equipment (Fork Lift, Pallet Jack)
            safely and efficiently</p>

      <p>• Adept at reading work orders and counting merchandise accurately</p>

      <p>• Able to ensure inbound and outbound shipments are accurate and free of damage</p>

      <p>• Committed to adhere to floor policies of warehouse</p>

      <p>• Proven record of maintaining a clean, neat and orderly work area</p>

      <p>• Pick, pack and transport orders in a suitable manner</p>

      <p>• Maintain record controls and stock counts</p>

      <p>• Stock up merchandise to the sales floor</p>

      <p>• Help customers and perform carry-in-out</p>

    <h3>Refunds and Credits Specialist • XANGO, LLC • Lehi, UT 3 Years’ experience</h3>

      <p>• Operate internal CRM software to process, store and analyze refund/collection information.</p>

      <p>• Answer emails and phone calls from internal agents dealing with voiding orders/payments, credit

            card searches, move payments and general supervisor questions.</p>

      <p>• Check figures, posting and documents for correct entry, mathematical accuracy and proper format

            before processing paperwork.</p>

      <p>• Debit, credit and total accounts on Excel spreadsheets and databases using internal CRM

            software.</p>

      <p>• Operate 10-key to perform calculations and product documents.</p>

      <p>• Code and electronically file documents according to company procedures.</p>

      <p>• Reconcile or note within internal CRM and report discrepancies found in records.</p>

    <h3>Customer Service Specialist (Australia) • XANGO, LLC • Lehi, UT 2 Years’ experience</h3>

      <p>• Answer inbound phone calls and respond to customer requests, provide customers with service

            and product information.</p>

      <p>• Research billing issues, misapplied payments and track orders for the Australian market.</p>

    <h3>Saw/Machine Operator • Sun Mountain Doors • Berthoud, CO 1 Year experience</h3>

      <p>• Adjust saw blades, using wrenches & rulers. Inspect and measure work pieces to mark for cuts

            and to verify accuracy.</p>

      <p>• Set-up/operate saws and machines that cut or trim wood to specified dimensions, such as a

            circular saw, band saw, multiple-blade saw machines, scroll saw, and ripsaw.</p>

      <p>• Monitor sawing blades, adjusting speed and tension and clearing jams to ensure proper operation.</p>

      <p>• Select saw blades, types and grades of stock and cutting procedures to be used, according to work

            order or supervisors’ instructions.</p>

    <h3>Furniture Finisher • The Village Wood Shoppe • Orem, UT 1.5 Years’ experience</h3>

      <p>• Brush, spray or hand-rub finishing ingredients (such as paint, oil, stain or wax) onto and into

            wood grain; then apply lacquer or other sealers.</p>

      <p>• Smooth, shape and touch-up surfaces to prepare them for finishing, using sandpaper, pumice

            stones, steel wool, chisels, sanders or grinders.</p>

      <p>• Select appropriate finishing ingredients depending on factors such as wood hardness and surface

            type.</p>

      <p>• Distress surfaces with woodworking tools or abrasives before staining to create an antique

            appearance.</p>

      <p>• Remove old finishes and damages or deteriorated parts, using hand tools, stripping tools,

            sandpaper, steel wool, abrasives, solvents and/or dip baths.</p>

    <h3>Shop Technician • Auto Brokers, LLC • Springville, UT 1.5 Years’ experience</h3>

      <p>• Follow supervisors’ instructions as to which parts to restore or replace and how much time the job

            should take.</p>

      <p>• Review damage reports, prepare or review repair cost estimates, and plan work to be performed.</p>

      <p>• Remove upholstery, accessories, electrical window-and-seat operating equipment and trim to gain

            access to vehicle bodies and fenders.</p>

      <h3>Skills:</h3>

        <p>Over 4 Years of Accounting / Finance Experience in a Network Marketing Setting</p>

        <p>Over 5 Years of Customer Service / Sales Experience</p>

        <p>Experienced in MS Office (Extensive Knowledge of Excel)</p>

        <p>Intermediate Knowledge of Adobe CS5 (Emphasis on Graphic Design in Photoshop)</p>

        <p>Working Knowledge of HTML</p>

    <h3>Education:</h3>

      <p>Utah Valley State College '01 - '03</p>

      <p>Concurrent Enrollment Courses in Collision Repair and Building Construction</p>

      <p>Pleasant Grove High School (3.4 GPA) Graduated '03</p>

    <h3>References Available Upon Request</h3>

  </div>
</div>
